html {
    overflow: hidden;
}

.column {
    height: 100%;
    overflow: scroll;
}

.slider {
    overflow: hidden;
}

.slider-pagination {

    bottom: -30px
}

.card {
    height: 100%;
    opacity: 0.8;
}

.card:hover {

    opacity: 1;
    cursor: pointer;
}

.modal img {
    max-width: 20rem;
    height: auto;
}

.button {

    align-items: flex-start;
    height: 6.25em;
}

.button.is-primary {
    margin-top: 1em;
    background-color: #dcecf7;
}

.is-flex {
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .modal-content article {
        flex-direction: column;
    }
}