html {
    overflow: hidden;
}

.column {
    height  : 100%;
    overflow: scroll;
}

.slider {
    overflow: hidden;
}

.slider-pagination {

    bottom: -30px
}

.card {

    opacity: 0.8;
}

.card:hover {

    opacity: 1;
    cursor : pointer;
}

.button {

    align-items: flex-start;
    height     : 6.25em;
}

.button.is-primary {
    margin-top      : 1em;
    background-color: #dcecf7;
}

.is-flex {
    justify-content: center;
}